<!-- props: {"property1":{"type":"VARIANT","defaultValue":"'default'","variantOptions":["Default","Variant2"]}} -->
<form action="" [formGroup]="promoForm">
<div class="add-promo-code">
    <div class="frame-2608404">
      <div class="add-promo-code2">Add promo code</div>
   
        <a mat-icon-button (click)="this.dialogRef.close()">
          <mat-icon>close</mat-icon>
        </a>
      
    </div>
    <div class="line-43"></div>
    <div class="frame-2608353">
      <div class="ob-forms-farmer-name">
        <div class="farmer-name">Promo code name</div>
        <input placeholder="NEWYEAR 2024" class="frame" formControlName="CouponCode">
       
      
      </div>
      <div class="ob-forms-farmer-name">
        <div class="farmer-name">Promo code description</div>
        <input placeholder="Write description here" class="frame2" formControlName="OfferDescription">
        
      </div>
      <div class="frame-2608405">
        <div class="ob-forms-farmer-name2">
          <div class="farmer-name">Add percentage</div>
          <input class="frame3" formControlName="DiscountPercentage">
          
          
          
         
        </div>
        <div class="ob-forms-farmer-name2">
          <div class="farmer-name">Up to amount</div>
          <input type="text" placeholder="Write amount here" class="frame" formControlName="MaxAmount">
         
       
        </div>
      </div>
      <div class="frame-2608406">
        <div class="ob-forms-farmer-name2">
          <div class="farmer-name">Start date</div>
          <input matInput [matDatepicker]="picker" class="text-holder" placeholder="Open date" formControlName="StartDate">
            
            
            
          <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: blue;" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
        </div>
        <div class="ob-forms-farmer-name2">
          <div class="farmer-name">End date</div>
          <input matInput [matDatepicker]="picker1" class="text-holder" placeholder="Open date" formControlName="EndDate">
            
            
            
          <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: blue;" ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </div>
      <div class="frame-2608409">
        <div class="frame-2608407">
   
          <input type="radio" formControlName="UserID">
          <div class="all-users">All users</div>
        </div>
        <div class="frame-2608408">
        
          
          <div class="specific-users"><input type="radio" name="specific"  (click)="show = !show">Specific users</div><br>
      
        </div>
      </div>
      <div *ngIf="show">
        <div class="frame-2608406">
          <div class="ob-forms-farmer-name2">
            <div class="farmer-name">User ID</div>
            <input placeholder="UserId" class="frame" formControlName="UserID">
            
          </div>
          <div class="ob-forms-farmer-name2">
            <div class="farmer-name">Demography</div>
            <input placeholder="Demography" class="frame" formControlName="Demography">
          </div>
        </div>
          <div class="ob-forms-farmer-name2">
            <div class="farmer-name">Age Group</div>
            <input placeholder="Agegroup" class="frame" formControlName="Age">
          </div>
        </div>
   

      <button (disabled)="!promoForm.valid" (click)="addPromocard()" class="button-1">
        <div class="name2">{{button}}</div>
      </button>
    </div>
  </div>
</form>