<!-- <p-autoComplete [(ngModel)]="selectedItem" [sstions" (completeMethod)="search($event)"></p-autoComplete> -->
<!-- <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="data" field="name" placeholder="Search" [dropdown]="true"


></p-autoComplete> -->

<div class="ng-autocomplete">
    <ng-autocomplete 
      [data]="data"
      [searchKeyword]="keyword"
      placeholder="Search"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"> 
    </ng-autocomplete>
    
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.BranchName"></a>
    </ng-template>
    
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
    </div>