.notify-card{
    width:300px;height: 133px; ; background: #D6EDFE; border-radius: 10px; 
}
.parent{
flex: 1 0 0;
}
.parent{
    display: flex;
    flex-flow:wrap row;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}
.parent1{
    display: flex;
    flex-flow:wrap row;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 20px;
}

.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 68px;
}
.push-notifications {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-8073 {
    background: var(--primary, #3355b9);
    border-radius: 24px;
    width:200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 36px;
    position: relative;
  }
  .create-notification {
    color: #ffffff;
    text-align: left;
    font-family: "OpenSansHebrew-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    position: relative;
  }
  .frame-8722 {
    background: #ffffff;
    border-radius: 18px;
    padding: 16px 12px 16px 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1146px;
    position: relative;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  }