
<div class="frame-2608320">
  <div class="push-notifications">Promo codes</div>
  <div class="frame-8073">
    <div class="create-notification">
      <a (click)="openReport(null)">

        Add promo code
      </a>
    </div>
  </div>
</div>

            <div class="parent1">
            
   
        </div>
        <div style="width: 100%; height: 810px; padding-left: 12px; padding-right: 12px; padding-top: 16px; padding-bottom: 16px; background: white; border-radius: 18px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
            <div class="parent">
            <mat-card [style.background]="nf.color" class="notify-card" *ngFor="let nf of notifyData">
                <mat-card-header>
                    <mat-icon class="icon" color="primary" (click)="edit(nf)">edit</mat-icon>
                    <mat-icon class="icon" color="warn" (click)="delete(nf.OfferID,nf.CoupanID)">delete</mat-icon>
                  <mat-card-title>{{nf.CouponCode}}</mat-card-title>
                  <mat-card-subtitle>{{nf.OfferDescription}}</mat-card-subtitle>                 
                </mat-card-header>
                <mat-card-content>
                <div style="font-size: 24px;text-align: start;">{{nf.DiscountPercentage}}% off</div>
            </mat-card-content>
              </mat-card>
           
            </div>
        </div>
  