.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.manage-users {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-8073 {
  background: var(--primary, #3355b9);
  border-radius: 24px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.generate-report {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-8722 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1146px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608332 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608166 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-holder {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 1px;
  padding: 8px 14px 8px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 224px;
  position: relative;
}
.customer-name-email {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iconamoon-search-fill {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.text-holder2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 1px;
  padding: 8px 14px 8px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 188.4px;
  position: relative;
}
.customer-id {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iconamoon-search-fill2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.registration-date {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.uis-calender {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.status {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ep-arrow-down-bold {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-8720 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}
.manage-users-table-head {
  background: #d6edfe;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.column-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.customer-id2 {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.full-name {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.mobile-no {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.email-id {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-10 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.registration-date2 {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-12 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.status2 {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-11 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.remarks {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-2608319 {
  flex-shrink: 0;
  width: 52px;
  height: 50px;
  position: relative;
}
.manage-users-table-head2 {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.customer-id3 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.full-name2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.mobile-no2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.email-id2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.registration-date3 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.status3 {
  background: #dbefdc;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.active {
  color: #4caf50;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.remarks2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.manage-users-table-head3 {
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.status4 {
  background: #fddbd6;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.active2 {
  color: #de5753;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-2608326 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.showing-1-to-10-of-28-entries {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-2608325 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.previous {
  background: #ffffff;
  border-radius: 6px;
  opacity: 0.6000000238418579;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.fe-arrow-left {
  opacity: 0.6000000238418579;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.fe-arrow-left-0 {
  height: auto;
  position: absolute;
  left: 5.25px;
  top: 3px;
  overflow: visible;
}
._1 {
  background: #3355b9;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._12 {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
._2 {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._22 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
._3 {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._32 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.next {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.fe-arrow-right {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.fe-arrow-right-0 {
  height: auto;
  position: absolute;
  left: 5.25px;
  top: 3px;
  overflow: visible;
}
/* Your component.css */
::ng-deep .p-datatable .p-datatable-thead  {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.table-row{
  border: 2px solid red;

}
th{
  padding: 20px;
}

p-datatable{
  width: 100px !important;
}
