
<div class="frame-8725">
  <div class="frame-8724">
    <div class="frame-2608320">
      <div class="manage-users">Manage users</div>
      <div class="frame-8073">
        <div class="generate-report">Generate report</div>
      </div>
    </div>
    <div class="frame-8722">
      <div class="frame-2608332">
        <div class="frame-2608166">
          <input type="search" placeholder="Customer name, email" class="text-holder">
          
          <input type="search" class="text-holder2" placeholder="Customer id">
           
          <input matInput [matDatepicker]="picker" placeholder="Registration date" class="text-holder2">
            
         
            
            
            <mat-datepicker-toggle matIconSuffix [for]="picker" style="margin-left: -60px;color: blue;" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          <mat-select class="text-holder2" placeholder="status">
          
            <mat-option value="option1" *ngFor="let list of lists">{{list.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <!-- table -->
      <div class="frame-8720">
   
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="inventory-table"
    style="width: 100%;">

   
    <ng-container matColumnDef="Customer id">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef>SL No. </th>
      <td mat-cell *matCellDef="let element"> 1 </td>
    </ng-container>

    <ng-container matColumnDef="Full name">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef>Customer ID
      </th>
      <td mat-cell *matCellDef="let element"> EV-{{element.UserID}} </td>
    </ng-container>

    <ng-container matColumnDef="Mobile no.">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef> Customer Name
        no. </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}}  {{element.LastName}}
      <a routerLink=""></a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Email id">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef> MobileNo
      </th>
      <td mat-cell *matCellDef="let element"> {{element.MobileNo }} </td>
    </ng-container>
    <ng-container matColumnDef="Registration date">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef> Email ID
      </th>
      <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef> Created On
      </th>
      <td mat-cell *matCellDef="let element"> {{element.CreatedOn | date}} </td>
    </ng-container>
    <ng-container matColumnDef="Remarks">
      <th [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-cell *matHeaderCellDef> 
      </th>
      <td mat-cell *matCellDef="let element"> N/A </td>
    </ng-container>

    <tr [style.background]="'#d6edfe'" [style.color]="'#3355b9'" mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row routerLink="details/{{row.UserID}}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
      </div>

      <!-- table -->

    </div>
   
  </div>
</div>


