
<mat-toolbar>
 
    <mat-icon (click)="goBack()">arrow_back</mat-icon>

    <div class="user-details">EV rentals</div>
    <span class="example-spacer"></span>
    <button  type="submit" class="frame-8073" *ngIf="isview" (click)=" onSubmit()">
      {{btntype}}
    </button>
</mat-toolbar>
  <div class="parent">
    <mat-card class="child">
      <div class="full-description">Full description</div>
          <table>
            <tr>
              <td>ProductName</td>
              <td><input type="text" [(ngModel)]="proudctdata.ProductName" name="ProductName" class="content2"></td>
            </tr>
            
            <tr>
              <td>Model name</td>
              <td><input [(ngModel)]="proudctdata.ModelName" type="text" name="proudctdata.ModelName" class="content2"></td>
            </tr>
            <tr>
              <td>Registration no.</td>
              <td>        <input [(ngModel)]="proudctdata.RegistrationNo" type="text" name="RegistrationNo" class="content2"></td>
            </tr>
            <tr>
              <td>Hub station</td>
              <!-- dropdown branchid bind id -->
              <td>  <select [(ngModel)]="proudctdata.BranchID" type="text" name="BranchID" class="content2">

            <option value="0" >Select Hub center</option>
            <option value="{{p?.BranchID}}" *ngFor="let p of hubList">{{p?.BranchName}}</option>
              </select>
              </td>
            </tr>

            <tr>
              <td>Established date</td>
              <td>  <input [(ngModel)]="proudctdata.EstablishedDate" type="date" name="EstablishedDate" class="content2"></td>
            </tr>
            <tr>
              <td>Registration date</td>
              <td> <input [(ngModel)]="proudctdata.RegistrationDate" type="date" name="RegistrationDate" class="content2"></td>
            </tr>
            <tr>
              <!-- quntity coloumn Quantity   add-->
              <td>Bike condition</td>
              <!-- dropdown LookupData bind LookupDescription LookupCode -->
              <td>     <select [(ngModel)]="proudctdata.Condition" type="text" name="Condition" class="content2">
            <option value="0" >Select Bike Condition</option>

                <option *ngFor="let b of LookupData " value="{{b?.LookupID}}">{{b?.LookupCode}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Last service date</td>
              <td>    <input [(ngModel)]="proudctdata.LastServiceDate" type="date" name="LastServiceDate" class="content2"></td>
            </tr>
            <tr>
              <td>Last booking date</td>
              <td>    <input [(ngModel)]="proudctdata.LastServiceDate" type="date" name="LastServiceDate" class="content2"></td>
            </tr>
            <tr>
              <td>Battery</td>
              <td> <input [(ngModel)]="proudctdata.Battery" type="text" name="Battery" class="content2"></td>
            </tr>
            <tr>
              <td>Connectivity</td>
              <td>  <input [(ngModel)]="proudctdata.Connectivity" type="text" name="Connectivity" class="content2"></td>
            </tr>
            <tr>
              <td>Efficiency</td>
              <td> <input [(ngModel)]="proudctdata.Efficiency" type="text" name="Efficiency"class="content2"></td>
            </tr>
            <tr>
              <td>Pure mileage</td>
              <td>   <input [(ngModel)]="proudctdata.Mileage" type="text" name="Mileage" class="content2"></td>
            </tr>
            <tr>
              <td>Weight</td>
              <td> <input [(ngModel)]="proudctdata.Weight" type="text" name="Weight" class="content2"></td>
            </tr>
            <tr>
              <td>Environmental Impact</td>
              <td><input [(ngModel)]="proudctdata.Description" type="text" name="Description" class="content2"></td>
            </tr>
            <tr>
              <td>Price</td>
              <td>     <input [(ngModel)]="proudctdata.Price" type="number" name="Price"class="content2"></td>
            </tr>
         
           
          </table>
     
  
      

    </mat-card>
    <!-- images -->
    <mat-card class="child1">

      <div class="frame-2608395">
      <div class="bike-image"> images</div>
      <div class="frame-2608333">
        <div class="frame-80732" *ngIf="!proudctdata?.ImageName">
          <div class="upload-image">
            <a (click)="openDialog()">Upload image</a>
            
            </div>
        </div>
     </div>
    </div>
    <div class="frame-2608325" *ngIf="proudctdata?.ImageName">
      <img class="rectangle-2508" src="{{azimageUrl}}{{proudctdata?.ImageName}}" />
      <!-- <img class="rectangle-2506" src="rectangle-25060.png" />
      <img class="rectangle-2510" src="rectangle-25100.png" />
      <img class="rectangle-2507" src="rectangle-25070.png" />
      <img class="rectangle-2509" src="rectangle-25090.png" />
      <img class="rectangle-2511" src="rectangle-25110.png" /> -->
    </div>
    </mat-card>
  </div>