<div class="frame-8725">
    <div class="frame-8724">
      <div class="frame-2608321">
      
      </div>
     
      <div class="frame-8722">
        <div class="frame-2608222">
          <div class="current-bookings">Current bookings</div>
          <div class="frame-2608194">
            <div class="frame-2608183">
              <img class="frame-8075" src="frame-80750.png" />
              <div class="frame-2608182">
                <div class="bike-model-1">Bike model 1</div>
                <div class="_20-oct-2023-11-00-am-6-nov-2023-10-59-am">
                  20 Oct, 2023 | 11:00 am - 6 Nov, 2023 | 10:59 am
                </div>
                <div class="_1-200">₹1,200</div>
              </div>
              <div class="frame-8073">
                <div class="view-details">View details</div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-2608223">
          <div class="previous-bookings">Previous bookings</div>
          <div class="frame-2608194">
            <div class="frame-2608183">
              <img class="frame-8075" src="frame-80751.png" />
              <div class="frame-2608182">
                <div class="bike-model-1">Bike model 1</div>
                <div class="_12-sep-2023-00-00-am-18-sep-2023-01-00-pm">
                  12 Sep, 2023 | 00:00 am - 18 Sep, 2023| 01:00 pm
                </div>
                <div class="_1-200">₹1,200</div>
              </div>
              <div class="frame-8073">
                <div class="view-details">View details</div>
              </div>
            </div>
            <div class="frame-2608186">
              <img class="frame-8075" src="frame-80752.png" />
              <div class="frame-2608182">
                <div class="bike-model-3">Bike model 3</div>
                <div class="_11-sep-2023-11-00-am-11-sep-2023-01-00-pm">
                  11 Sep, 2023 | 11:00 am - 11 Sep, 2023 | 01:00 pm
                </div>
                <div class="_2-400">₹2,400</div>
              </div>
              <div class="frame-8073">
                <div class="view-details">View details</div>
              </div>
            </div>
            <div class="frame-2608187">
              <img class="frame-8075" src="frame-80753.png" />
              <div class="frame-2608182">
                <div class="battery">Battery</div>
                <div class="_11-000-watt">11,000 watt</div>
                <div class="_5-00">₹5,00</div>
              </div>
              <div class="frame-8073">
                <div class="view-details">View details</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  