.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.manual-booking {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-2608349 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608362 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 12px 36px 12px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 174px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(50, 86, 181, 0.2);
  overflow: hidden;
}
.frame-2608370 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ev-rentals {
  color: var(--textcolor, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.rent-right-away {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.take-away-rafiki {
  flex-shrink: 0;
  width: 186.34px;
  height: 130.29px;
  position: relative;
  overflow: visible;
}
.frame-2608366 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 12px 36px 12px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 174px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(50, 86, 181, 0.2);
  overflow: hidden;
}
.frame-2608369 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.swapping-station {
  color: var(--textcolor, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.book-battery-for-your-ev {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-2608361 {
  flex-shrink: 0;
  width: 198.48px;
  height: 130.3px;
  position: relative;
  overflow: hidden;
}
.image-8 {
  width: 198.48px;
  height: 121.67px;
  position: absolute;
  left: 0px;
  bottom: -0.49px;
  object-fit: cover;
}
.frame-2608367 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 12px 36px 12px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 174px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(50, 86, 181, 0.2);
  overflow: hidden;
}
.wash-station {
  color: var(--textcolor, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.book-wash-time-for-your-ev {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
