.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.push-notifications {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-8073 {
  background: var(--primary, #3355b9);
  border-radius: 24px;
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.create-notification {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-8722 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1146px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608332 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608166 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-holder {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 1px;
  padding: 8px 14px 8px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 188.4px;
  position: relative;
}
.created-on {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.800000011920929;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.uis-calender {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-8720 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.notification-table-head {
  background: #d6edfe;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.column-1 {
  padding: 10px 28px 10px 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.code-name {
  color: #3355b9;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-2608319 {
  flex-shrink: 0;
  width: 196px;
  height: 50px;
  position: relative;
}
.notification-table-head2 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.code-name2 {
  color: #363636;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.code-name-2-span {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span2 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.notification-table-head3 {
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.code-name-2-span3 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span4 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span5 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span6 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span7 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span8 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span9 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span10 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span11 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span12 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span13 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span14 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span15 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span16 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.code-name-2-span17 {
  color: #363636;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.code-name-2-span18 {
  color: #363636;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.frame-2608326 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.showing-1-to-10-of-22-entries {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-2608325 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.previous {
  background: #ffffff;
  border-radius: 6px;
  opacity: 0.6000000238418579;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.fe-arrow-left {
  opacity: 0.6000000238418579;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.fe-arrow-left-0 {
  height: auto;
  position: absolute;
  left: 5.25px;
  top: 3px;
  overflow: visible;
}
._1 {
  background: #3355b9;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._12 {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
._2 {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._22 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
._3 {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
._32 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.next {
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 30px;
  position: relative;
}
.fe-arrow-right {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.fe-arrow-right-0 {
  height: auto;
  position: absolute;
  left: 5.25px;
  top: 3px;
  overflow: visible;
}
