.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608332 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ic-round-arrow-back {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.smith-joe {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.status {
  background: #4caf50;
  border-radius: 24px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.active {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.sub-select {
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-1 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-147 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.tab2 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-12 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6000000238418579;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-8722 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 36px 16px 36px;
  flex-shrink: 0;
  width: 1146px;
  height: 320px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608342 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 802px;
  position: absolute;
  left: 15px;
  top: 60px;
}
.ob-forms-farmer-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 254px;
  position: relative;
  overflow: hidden;
}
.farmer-name {
  color: var(--text-color, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.name {
  color: var(--text-color, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.name2 {
  color: var(--text-color, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-2608343 {
  background: linear-gradient(to left, #f2f2f2, #f2f2f2);
  border-radius: 8px;
  width: 252px;
  height: 244px;
  position: absolute;
  left: 868px;
  top: 16px;
  overflow: hidden;
  object-fit: cover;
}
.user-details {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-43 {
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 1px 0 0 0;
  width: 826px;
  height: 0px;
  position: absolute;
  left: 12px;
  top: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-2608321 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 36px 16px 36px;
  flex-shrink: 0;
  width: 1146px;
  height: 344px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-26083422 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1120px;
  position: absolute;
  left: 15px;
  top: 60px;
}
.ob-forms-farmer-name2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-8580 {
  background: #ffffff;
  border-radius: 13.58px;
  border-style: solid;
  border-color: var(--stroke-clr, #e8e7e7);
  border-width: 1.36px;
  align-self: stretch;
  flex-shrink: 0;
  height: 208px;
  position: relative;
  overflow: hidden;
}
.frame-8519 {
  display: flex;
  flex-direction: row;
  gap: 16.29px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 16px;
  top: 172px;
}
.uiw-file-jpg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.aadhar-jpg {
  color: var(--text-clr, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-76 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 349px;
  height: 156px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.uiw-file-jpg2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.pan-jpg {
  color: var(--text-clr, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2608344 {
  background: #428aba;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 109.73px;
  top: 60.46px;
  transform-origin: 0 0;
  transform: rotate(0.735deg) scale(1, 1);
}
.gempm-1675-q {
  flex-shrink: 0;
  width: 84px;
  height: 9.7px;
  position: relative;
  overflow: visible;
}
.uiw-file-jpg3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.dl-jpg {
  color: var(--text-clr, #363636);
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.govt-id-proofs {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-432 {
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 1px 0 0 0;
  width: 1123px;
  height: 0px;
  position: absolute;
  left: 12px;
  top: 48px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
