<div class="frame-2608381">
  <div class="mingcute-delete-fill">
    <svg class="group" width="40" height="40"></svg
    ><svg
      class="vector2"
      width="26"
      height="19"
      viewBox="0 0 26 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 10.3667L8.63333 19L25.9 0.5"
        stroke="white"
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="password-reset-success">Password reset success</div>
  <div
    class="you-have-successfully-reset-your-password-please-log-in-to-continue-your-journey"
  >
    You have successfully reset your password. Please log in to continue your
    journey.
  </div>
  <div class="frame-8657">
    <div class="log-in">Log in</div>
  </div>
</div>
