
<!-- props: {"property1":{"type":"VARIANT","defaultValue":"'default'","variantOptions":["Default","Variant2"]}} -->
<form action="" [formGroup]="priceForm">
  <div class="parent">
    <div class="add-promo-code">
      
      <a mat-icon-button  style="float: right;">
        <mat-icon>close</mat-icon>
      </a>
        <div class="frame-2608404">
          <div class="add-promo-code2">Add Price</div>
       
          
        </div>
        <br>
        <div class="line-43"></div>
        <div class="frame-2608353">
          <div class="ob-forms-farmer-name">
            <div class="farmer-name">Pay Type</div>
            <input placeholder="NEWYEAR 2024" class="frame" formControlName="paytype">
           
          
          </div>
          <br>
          <div class="ob-forms-farmer-name">
            <div class="farmer-name">Payment</div>
            <input placeholder="Write description here" class="frame" formControlName="payment">
            
          </div>
         
       
    <br>
          <button (disabled)="!priceForm.valid" (click)="addpricecard()" class="button-1">
            <div class="name2">Add</div>
          </button>
        </div>
      </div>
    </div>
    </form>