
   
      <div class="frame-8722">
        <div class="frame-26083502">
          <div class="hub-booking-summary">Hub booking summary</div>
          <div class="frame-2608351">
            <div class="view-all" routerLink="hub_booking">View all</div>
            <svg
              class="ri-arrow-right-s-line"
              width="18"
              height="19"
              viewBox="0 0 18 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.0906 9.49945L5 4.05433L6.4552 2.5L13 9.49945L6.4552 16.5L5.00103 14.9435L10.0917 9.49835L10.0906 9.49945Z"
                fill="#3355B9"
              />
            </svg>
          </div>
        </div>
        <div class="frame-2608384">
          <div class="mh">
            <div class="madhapur-hub-12345">Madhapur Hub - 12345</div>
            <div class="line-43"></div>
            <div class="frame-8727">
              <div class="frame-87143">
                <div class="available">Available</div>
                <div class="_20">20</div>
              </div>
              <!-- <div class="line-44"></div> -->
              <div class="frame-8715">
                <div class="booked">Booked</div>
                <div class="_35">35</div>
              </div>
              <!-- <div class="line-45"></div> -->
              <div class="frame-8715">
                <div class="booked">Ongoing</div>
                <div class="_40">25</div>
              </div>
            </div>
          </div>
          <div class="mh">
            <div class="nagole-hub-12346">Nagole Hub - 12346</div>
            <div class="line-43"></div>
            <div class="frame-8727">
              <div class="frame-87143">
                <div class="available">Available</div>
                <div class="_15">15</div>
              </div>
              <!-- <div class="line-44"></div> -->
              <div class="frame-8715">
                <div class="booked">Booked</div>
                <div class="_40">40</div>
              </div>
              <!-- <div class="line-45"></div> -->
              <div class="frame-8715">
                <div class="booked">Ongoing</div>
                <div class="_40">25</div>
              </div>
              <!-- <div class="frame-8716">
                <div class="ongoing">Ongoing</div>
                <div class="_25">25</div>
              </div> -->
            </div>
          </div>
          <div class="mh">
            <div class="miyapur-hub-12347">Miyapur Hub - 12347</div>
            <div class="line-43"></div>
            <div class="frame-8727">
              <div class="frame-87143">
                <div class="available">Available</div>
                <div class="_20">20</div>
              </div>
              <!-- <div class="line-44"></div> -->
              <div class="frame-8715">
                <div class="booked">Booked</div>
                <div class="_30">30</div>
              </div>
              <!-- <div class="line-45"></div> -->
              <div class="frame-8715">
                <div class="booked">Ongoing</div>
                <div class="_40">25</div>
              </div>
            </div>
          </div>
        </div>
      </div>
