.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.inventory {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.sub-select {
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-1 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6000000238418579;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab2 {
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-12 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-147 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-2608321 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.frame-8717 {
  background: #92e3a9;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 271.5px;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.material-symbols-deployed-code-history-rounded {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.frame-8714 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.total-hub-stations {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._20 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8718 {
  background: #a7dbff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 271.5px;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608385 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
.mingcute-delete-fill {
  background: var(--primary, #3355b9);
  border-radius: 100px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: calc(50% - 16.5px);
  top: calc(50% - 16px);
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 20.59%;
  left: 20.59%;
  width: 58.82%;
  bottom: 20.59%;
  top: 20.59%;
  height: 58.82%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 31.03%;
  left: 30.88%;
  width: 38.09%;
  bottom: 36.03%;
  top: 36.76%;
  height: 27.21%;
  overflow: visible;
}
.frame-87142 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.active {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._18 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8719 {
  background: #ffbf9d;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 271.5px;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.material-symbols-inactive-order-rounded {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.inactive {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8722 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1146px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608332 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.recently-added {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.frame-2608352 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-all {
  color: #3355b9;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.ri-arrow-right-s-line {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.frame-8720 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.inventory-table-head {
  background: #d6edfe;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.column-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 64px;
  position: relative;
}
.sl-no {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.hub-name {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.registration-no {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 93px;
  position: relative;
}
.hub-code {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.open-time {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-7 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.close-time {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.column-8 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 210px;
  position: relative;
}
.location {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.column-9 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.status {
  color: #3355b9;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-2608319 {
  flex-shrink: 0;
  width: 52px;
  height: 50px;
  position: relative;
}
.inventory-table-head2 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.sl-no2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.hub-name2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.registration-no2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.hub-code2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.open-time2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.close-time2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.location2 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.status2 {
  background: #dbefdc;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.active2 {
  color: #4caf50;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.inventory-table-head3 {
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
