
<div class="profile" style="border:none">
 
    <div class="navigation" >
      <button mat-button [matMenuTriggerFor]="animals" > 
      <div class="frame-8029">
        <div class="frame-8704" >
          <img
            class="mdi-user"
            style="
              background: url(mdi-user0.png) center;
              background-size: cover;
              background-repeat: no-repeat;
            "
            src="mdi-user0.png"
          />
          <div class="manish-paul">Manish Paul</div>
        </div>
        <div class="fe-arrow-down">
          <svg
            class="fe-arrow-down-0"
            width="12"
            height="8"
            viewBox="0 0 12 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.5 0.25L6 4.75L10.5 0.25L12 1.75L6 7.75L0 1.75L1.5 0.25Z"
              fill="#363636"
            />
          </svg>
        </div>
      </div>
    </button>
    </div>


  </div>

  <mat-menu #animals="matMenu" class="menu">
    <div style="width: 280px; padding-left: 12px; padding-right: 12px; padding-top: 16px; padding-bottom: 16px; background: #F2F2F2; border-radius: 12px; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 17px; display: flex">
      <img style="width: 52px; height: 52px; position: relative; border-radius: 100px"
       src="https://via.placeholder.com/52x52" />
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="color: #363636; font-size: 24px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Manish Paul</div>
      <div style="opacity: 0.80; color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">9876543210</div>
      </div>
      </div>
    </div>
   
        <!-- <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Settings</div>
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 20px; height: 18px; left: 2px; top: 3px; position: absolute; background: #3355B9"></div>
          <div style="width: 2px; height: 2px; left: 8px; top: 12px; position: absolute; background: #3355B9"></div>
          <div style="width: 2px; height: 2px; left: 14px; top: 12px; position: absolute; background: #3355B9"></div>
          <div style="width: 11.99px; height: 6.45px; left: 6.01px; top: 6px; position: absolute; background: #3355B9"></div>
          </div>
          <div style="color: #363636; font-size: 16px; font-family: Open Sans Hebrew; font-weight: 400; word-wrap: break-word">Support</div>
          <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 20.58px; height: 20.16px; left: 1.92px; top: 1.92px; position: absolute; background: #E33629"></div>
            </div>
            <div style="color: #E33629; font-size: 14px; font-family: Open Sans Hebrew; font-weight: 700; word-wrap: break-word">Log out</div> -->
            <mat-list>
              <mat-list-item routerLink="settings">Settings</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Support</mat-list-item>
              <mat-divider></mat-divider><br>
              <button routerLink="/" mat-raised-button  class="logout" >
                Log out</button>
            </mat-list>
  </mat-menu>