.profile,
.profile * {
  box-sizing: border-box;
}

.profile {
  /* background: #ffffff;
  border-style: solid;
  border-color: transparent; */
  border-width: 1px;
  width: 1178px;
  height: 50px;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 996px;
  top: 7px;
}

.frame-8029 {
  /* border-radius: 20px;
  padding: 8px 12px 8px 8px; */
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-8704 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.mdi-user {
  background: linear-gradient(to left, #363636, #363636);
  border-radius: 14px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.manish-paul {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fe-arrow-down {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}

.fe-arrow-down-0 {
  height: auto;
  position: absolute;
  left: 3px;
  top: 5.25px;
  overflow: visible;
}

::ng-deep .menu {
  width: 420px !important;
  height: 320px !important;
}

.logout {
  width: 200px;
  border-radius: 24px;
  padding: 12px;
  background: #F2F2F2;
}