.frame-8725,
.frame-8725 * {
  box-sizing: border-box;
}
.frame-8725 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1178px;
  height: 942px;
  position: relative;
}
.frame-8724 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2608320 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.inventory {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.sub-select {
  border-style: solid;
  border-color: #e8e7e7;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-1 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6000000238418579;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab2 {
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab-12 {
  color: #363636;
  text-align: center;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-147 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-2608321 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.frame-8717 {
  background: #92e3a9;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.material-symbols-deployed-code-history-rounded {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.frame-8714 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.total-battery {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-000 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8718 {
  background: #a7dbff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608385 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
.mingcute-delete-fill {
  background: var(--primary, #3355b9);
  border-radius: 100px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: calc(50% - 16.5px);
  top: calc(50% - 16px);
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 20.59%;
  left: 20.59%;
  width: 58.82%;
  bottom: 20.59%;
  top: 20.59%;
  height: 58.82%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 31.03%;
  left: 30.88%;
  width: 38.09%;
  bottom: 36.03%;
  top: 36.76%;
  height: 27.21%;
  overflow: visible;
}
.frame-87142 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.booked {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._200 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8719 {
  background: #eed38f;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.material-symbols-inactive-order-rounded {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.available {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._700 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8720 {
  background: #ffbf9d;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 100px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.basil-cancel-solid {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.out-of-stock {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._100 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-8722 {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px 12px 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1146px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.frame-2608332 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.recently-added {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.frame-2608352 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.view-all {
  color: #3355b9;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.ri-arrow-right-s-line {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}
.frame-2608386 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1122px;
  position: relative;
}
.frame-8067 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.rectangle-2505 {
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  width: 110px;
  position: relative;
  object-fit: cover;
}
.frame-2608179 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-2608175 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.battery-model-1 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame-8072 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-8071 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ant-design-setting-filled {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.capacity-1-8-kwh {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-8070 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.fluent-battery-charge-20-filled {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.charging-time-8-hrs {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-80722 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.clarity-battery-solid {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.available-4-00 {
  color: #363636;
  text-align: left;
  font-family: "OpenSansHebrew-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
}
.frame-8068 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled2 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled2 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid2 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-8069 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-3 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled3 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled3 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid3 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-80702 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled4 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled4 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid4 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-80712 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-5 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled5 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled5 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid5 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-80723 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-6 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled6 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled6 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid6 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-8073 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-7 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled7 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled7 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid7 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-8074 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-8 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled8 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled8 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid8 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-8075 {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 358px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.battery-model-9 {
  color: #000000;
  text-align: left;
  font-family: "OpenSansHebrew-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.ant-design-setting-filled9 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fluent-battery-charge-20-filled9 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.clarity-battery-solid9 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
