.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  font-size: 16px;
  background:#202c51 ;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-links .active {
  font-size: 20px;
  padding: 5px !important;
  width: 160px !important;
  height: 100px !important;
  border-radius: 10px !important;
  background: white !important;
  color:black ;
  text-align: start;
  text-decoration: none;

}
.header-links{
  margin-left:10% ;
}
.example-spacer{
  flex: 1 0 0;
}
.nav-item{
  padding: 3%;
font-size: 18px;
  color: white;
}
.toolbar{
  background:#202c51 ;
  color: white;
}
.side-nav-toolbar{
  padding:20px;

}
.links{
  color: white;

}
.icon{

  margin-bottom: -4px;

}
.icon .active{
  color: blue !important;margin-bottom: 6x;
}


