.example-spacer{
    flex: 1 0 0;
}
.add-btn{
    width: 154px; height: 40px; background: #3355B9; border-radius: 24px; justify-content:center; align-items: center; gap: 10px; display: flex;text-align: center;border: none;
}