
      <form action="" [formGroup]="regForm" >

      <div class="user-details2">User details</div><br><br>
      <hr><br>
      <table>
      
        <tr>
          <td>
            <div class="farmer-name">First name</div>
            <input type="text" placeholder="First name" class="frame" id="FirstName" name formControlName="FirstName" 
           />
           
        
          </td>
          <td>
            <div class="farmer-name">Last name</div>
            <input type="text" placeholder="Last name" class="frame" formControlName="LastName">
          </td>
        </tr>
        <tr>
          <td>
            <div class="farmer-name2">Email</div>
            <input type="email" class="frame" id="EmailID" formControlName="EmailID" placeholder="Enter email address" />
            
          </td>
          <td>
            <div class="farmer-name2">Mobile no.</div>
            <input type="tel" class="frame" formControlName=" MobileNo" placeholder="Enter mobile number">
          </td>
        </tr>
        <tr>
          <td>
            <div class="farmer-name2">Date of birth</div>
            <input type="date" class="frame" formControlName="DateofBirth"placeholder="Enter your dob">
          </td>
          <td>
            <div class="farmer-name2">Gender</div>
            <select class="frame" formControlName="MemberType" placeholder="select" value="select" placeholder="select">
           
              <option [value]="p.value" *ngFor ="let p of genderdata">{{p.name}}</option>
              
          
            </select>
          </td>
        </tr>
     
      </table>
      <div class="btn-container">
     <button  matRipple class="register-btn" [disabled]="!regForm.valid"  type="submit"  (click)="register()" >Register</button>
    </div>
    </form>