:root {
    /* Colors */
    --primary: #3355b9;
  
    /* Fonts */
    --heading-font-family: Archivo-SemiBold, sans-serif;
    --heading-font-size: 24px;
    --heading-line-height: normal;
    --heading-font-weight: 600;
    --heading-font-style: normal;
  
    /* Effects */
  }

  /* profile */
  /* Figma Styles of your File */
:root {
    /* Colors */
    --primary: #3355b9;
  
    /* Fonts */
    --heading-font-family: Archivo-SemiBold, sans-serif;
    --heading-font-size: 24px;
    --heading-line-height: normal;
    --heading-font-weight: 600;
    --heading-font-style: normal;
  
    /* Effects */
  }
  
  /* profile */

  /* dashbord */
  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* dashbord */

  /* customers */


  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* customers */

  /* inventory */


  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* inventory */

  /* NOTIFICATION */
  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* NOTIFICATION */

  /* complains */
  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* complains */
  /* bookinghistory */
  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* bookinghistory */

  /* errorpopup */


  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* errorpopup */

  /* allbikes */
  /* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #3355b9;

  /* Fonts */
  --heading-font-family: Archivo-SemiBold, sans-serif;
  --heading-font-size: 24px;
  --heading-line-height: normal;
  --heading-font-weight: 600;
  --heading-font-style: normal;

  /* Effects */
}

  /* allbikes */