<h2 mat-dialog-title>Add Hub</h2>
<mat-dialog-content class="mat-typography">

<form [formGroup]="addhubForm">
<mat-form-field appearance="outline">
    <mat-label>Hub Name</mat-label>
    <input matInput placeholder="Placeholder" formControlName="BranchName">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Registration no.</mat-label>
    <input matInput placeholder="Placeholder" formControlName="RegNo">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Hub Code</mat-label>
    <input matInput placeholder="Placeholder" formControlName="HubCode">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Open Time</mat-label>
    <input matInput placeholder="Placeholder" formControlName="OpenTime">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Close Time</mat-label>
    <input matInput placeholder="Placeholder" formControlName="CloseTime">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Placeholder" formControlName="Location">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <input matInput placeholder="Placeholder" formControlName="Status">

  </mat-form-field>
<button color="primary" mat-raised-button (click)="onSubmit()">Submit</button>
</form>

</mat-dialog-content>